:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --title-lite-theme-color: #212121;
    --title-dark-theme-color: #FFFFFF;
    --text-lite-theme-color: #757575;
    --text-dark-theme-color: #FFFFFF;
    --accent-title-color: #2196F3;
}
body {
    background-color: #ffffff;
    font-family: var(--main-font);
    font-size: 18px;
    color: #212121;
}

.link {
text-decoration: none;
}

.list {
list-style: none;
}

.mein-menu-list-item {
color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.mein-menu-list-link:hover,
.mein-menu-list-link:focus {
color: #2196F3;
}

.address-item-link {
text-decoration: none;
}

.address-list-item {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.address-item-link:hover,
.address-item-link:focus {
color: #2196F3;
}

/*HERO*/

.hero {
    background: #757575;
}

.hero-image {  
}

.hero-header {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}
/*Особенности*/

.features-item-image {
}

.features-item-title {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;

color: #212121;
}

.features-item-description {
font-size: 14px;
line-height: 1.72;
/* or 171% */

letter-spacing: 0.03em;
color: #757575;
}

/*Чем мы занимаемся what do we do (wdwd)*/

.wdwd {
    background-color:#ffffff;
}

.wdwd-title {
    font-size: 36px;
line-height: 1.17;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.wdwd-link-image {
}

.wdwd-link-title {
    font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}

.our-team-title,
.regular-customers {
    font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.otlm-photo {
}

.otlm-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--title-lite-theme-color)
}

.otlm-position {
    font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.otlm-social-links-list {
}

.otlm-sli-image {
    background: #AFB1B8;
}

.customers-logo {
}

.footer-bg {
background: #2F303A;
}

.footer-logo {
font-family: "Raleway";
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
}

.footer-logo-white {
font-family: "Raleway";
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: s#FFFFFF;
}

.footer-address {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #FFFFFF;
}

.footer-email,
.footer-tel {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-list-title {
font-size: 14px;
line-height: 1.19;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}

.project-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: var(--title-lite-theme-color)    
}

.project-item-description {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;

color: #757575;
}

.project-item-bg {
}

.project-item-image {
}
