html {
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --title-lite-theme-color: #212121;
    --title-dark-theme-color: #FFFFFF;
    --text-lite-theme-color: #757575;
    --text-dark-theme-color: #FFFFFF;
    --accent-title-color: #2196F3;
}

body {
    background-color: #ffffff;
    font-family: var(--main-font);
    font-size: 18px;
    color: #212121;
}

.link {
text-decoration: none;
}

.list {
list-style: none;
padding: 0px;
margin: 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
/*Header*/

.header-contaier{
    width: 1170px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    
}

.navi{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding: 0px;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 85px;
}

.logo-black {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 0px;
}


.mein-menu-list {
    display: flex;
    justify-content: space-between;
    width: 294px;
    height: 48px;
    padding: 32px 0px 32px 0px;
    margin: 0px 0px 0px 0px;
}

.mein-menu-list-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 24px;
    border-bottom: 4px solid #FFFFFF;
    border-radius: 2px;

}

.mein-menu-list-link:hover,
.mein-menu-list-link:focus {
    color: var(--accent-title-color);
    border-bottom: 4px solid var(--accent-title-color);
    border-radius: 2px;
}


.address-list {
    display: flex;
    list-style: none;
    justify-content: space-between;

}

.address-list-item{
    padding-left: 30px;
    margin: 32px 0px 32px 0px;

}

.address-item-link{
    display: flex;
    justify-content: center;
    color: #757575;

}

.address-item-link:hover,
.address-item-link:focus {
color: #2196F3;
}

.address-item-link-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 0px;
    margin: 0px;
}


.adil-img{
    padding: 0px 10px 0px 0px;
    margin: 0;
}


/*HERO*/

.hero {
    background: #757575;

}

.hero-header-box{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-header {
    font: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-top: 200px;
    margin: 0px;
}

.hero-button {
    background: #2196F3;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 0px 32px;
    color: #FFFFFF;
    font: var(--main-font);
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    border: none;
    margin-bottom: 200px;
}

/*Особенности*/

.features-container{
    padding-top: 94px;
}

.features-list {
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}

.features-item {
    display: inline-block;
    width: 270px;
    height: 251px;
    background: linear-gradient(#F5F4FA 0% 50%, #FFFFFF 50% 100% );
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: none;    
}

.features-item-image {
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
}

.features-item-title {
    font: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.features-item-description {
    font: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*Чем мы занимаемся what do we do (wdwd)*/

.wdwd-container{
    padding-top: 94px;
    padding-bottom: 94px;
}

.wdwd-title {
    font: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 0px;
    margin-top: 0px;
}

.wdwd-list {
    width: 1200px;
    min-height: 370px;
    padding-bottom: 0px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-around;
}

.wdwd-list-item {
    display: inline-block;
    width: 370px;
    height: 294px;
    border: none;
    padding: none;
}

.wdwd-item-image {
    width: 370px;
    height: 294px;
    padding: none;
    margin: none;
    border: none;
}

.wdwd-item-title{
    font: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #757575;
}

/*НАША КОМАНДА*/

.our-team-container{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
    padding: 0px 0px 50px 0px;
}

.our-team-list {
    width: 1200px;
    min-height: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.our-team-list-member{
    display: inline-block;
}

.otlm-photo {
    width: 270px;
    min-height: 260px;
    padding: 0px;
    margin: 0px;
}

.otlm-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    margin: 0px;
    color: var(--title-lite-theme-color)
}

.otlm-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 10px;
    margin: 0px;
    color: #757575;
}

.otlm-social-links-list {
    width: 206px;
    padding-top: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.otlm-social-links-item {
    width: 44px;
    height: 44px;
}

.otlm-sli-image {
    background: #AFB1B8;
}

.otlm-sli-image:hover
.otlm-sli-image:focus {
   background: var(--accent-title-color);
}

/*Наши клиенті*/

.regular-customers-container{
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-customers-title {
    font: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0px;
    padding-bottom: 50px;
}

.regular-customers-list {
    display: flex;
    justify-content: space-around;
}

.regular-customers-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

 /* Footer*/

.footer {
background: #2F303A;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0px 60px 0px;
}

.footer-cont-block {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0px;
    margin: 0px;

}

.footer-logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding: 0px;
    margin: 0px;
    
}

.footer-logo-white {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;

}

.footer-logo,
.footer-logo-white {
    padding-top: 0px;
    margin-bottom: 0px;
    justify-content: left;
}

.footer-address {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
padding: 0px;
margin: 0px;

}

.footer-list-title {
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 9px;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.footer-email,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 9px;
    margin: 0px;

}

.footer-link-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;

}

.footer-social-link-list{
    width: 206px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-social-link-item{
}

.footer-social-link-image{
    width: 44px;
    height: 44px;
}


/*Портфолио*/
/*Фильтр*/
/* Портфолио вильтр кнопки*/

.navi-filter-container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 94px;
}

.filter-list{
    width: 1170px;
    padding: 0px 0px 50px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
   
}

.filter-item:not(:last-child){
    margin-right: 4px;
}

.filter-item-button {
    background:#F5F4FA;
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    color: #212121;
    font: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    border: none;

}
.filter-item-button:hover,
.filter-item-button:focus {
    background:var(--accent-title-color);
    color: #ffffff;
}

/*PROJECT ITEM*/

.project-section{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 94px;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-list-item{
    width: 370px;
    height: 404px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    flex-direction: column;
    display: inherit;
    border: none;
}

.project-list-item:nth-child(-n+6){
    margin-bottom: 30px;
}

.project-item-image {
    width: 370px;
    height: 294px;
    padding: auto;
    margin: auto;
}

.project-item-title-container{
    width: 320px;
    height: 70px;
    margin: 20px 24px 20px 24px;
}
.project-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
    color: var(--title-lite-theme-color)    
}

.project-item-description {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
margin: 0;
color: #757575;
}

